<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Flann</a>
    <% if (locals.user) {%>
    <button class="btn btn-lg btn-danger" type="button">
      <a href="/users/logout">Logout</a>
    </button>
    <%} else {%>
    <form class="d-flex" action="/users/login" method="POST">
      <input
        class="form-control me-sm-2"
        type="text"
        placeholder="Username"
        name="username"
        ,
        id="username"
        required
      />
      <input
        class="form-control me-sm-2"
        type="password"
        placeholder="Password"
        name="password"
        ,
        id="password"
        required
      />
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
    <% } %>
  </div>
</nav>
