<div class="alert m-4 alert-success">
    <h4 class="alert-heading">Welcome</h4>
    <p class="mb-0">Welcome to the Flann Social Network, To read the docs check out <a href="#" class="alert-link">this
            link</a>.
        Flann Sinna was the King of Meath from 877 and the High King of Ireland from 879 to 916.
    </p>
</div>
<form action="/users/signUp" method="POST">
    <fieldset>
        <legend>Create an Account</legend>
        <div class="form-group">
            <label for="username" class="form-label mt-4">Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
            <label for="email" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="phone" class="form-label mt-4">phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <input type="submit" class="btn btn-success m-2" value="Submit">
    </fieldset>
</form>